.swiper-slide{
    width: 11% !important;
}

.leftBtn{
    position: absolute;
    left: 0px;
    z-index: 1000;
    bottom: 120px;
}

.rightBtn{
    position: absolute;
    right: 0;
    z-index: 1000;
    bottom: 120px;
}