.btn{
    background-color: #121212 !important;
    color: #34c94b !important;
    width: 170px !important;
    height: 47px !important;
    border: 1px solid #121212 !important;
    border-radius: 12px !important;
    padding: 10px 16px !important;
    font-family: Poppins;
font-size: 18px;
font-weight: 600;
line-height: 27px;
letter-spacing: 0.25px;
text-align: center;

}