.container{
    height: 270px;
    width: 100vw;
    background-color: var(--color1);
}

.heroSection{
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroImage{
    height: 212px;
    width: 212px;
}

.heroText{
    width: 556px;
    height: 100px;
    color:var(--color2);
}

.heroText p{
    font-family: Poppins;
font-size: 32px;
font-weight: 600;
line-height: 48px;
text-align: center;

}